<included>
    <logger name="no.nav.foreldrepenger" level="TRACE"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="no.nav.vedtak.sikkerhet" level="INFO"/>
    <logger name="no.nav.vedtak.felles.integrasjon.rest" level="INFO"/>
    <logger name="no.nav.vedtak.felles.integrasjon.rest.jersey.HeaderLoggingRequestInterceptor" level="trace"/>
    <logger name="no.nav.vedtak.felles.integrasjon.rest.jersey.HeaderLoggingResponseInterceptor" level="trace"/>
    <logger name="no.nav.vedtak.felles.integrasjon.rest.jersey.HeaderLoggingFilter" level="trace"/>
    <logger name="org.apache.cxf.common.logging" level="debug" />
    <logger name="org.apache.cxf.ext.logging" level="debug" />
    <logger name="org.apache.cxf.logging" level="debug" />
</included>